:root {
    font-size: 16px;
    color: var(--black);
    font-family: Helvetica, sans-serif;

    --dark-blue: #1B2C42;
    --white: #fff;
    --back: black;
 }

/*
.gridWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
    gap: 2%;
}
*/

/****************************************
Sponsor 
****************************************/

.sponsorshipContainer {
    display: flex;
    justify-content: space-between; /* Distribute space between sponsors */
    align-items: center;
}

.sponsor {
    width: calc(20% - 2%); /* Adjust the width based on the number of sponsors */
    margin-right: 2%; 
    height: 100%;
}

.sponsor img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/****************************************
Footer
****************************************/
.footerContainer {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 2%;
    box-sizing: content-box;
}

.profile {
    display: flex;
    align-items: center;
    padding: 2%;
}

.profileDescription {
    flex: 1;
}

.profilePhoto {
    width: 100px;
    height: auto;
}

.profile img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}


