:root {
    font-size: 1em;
    line-height: 1.4;
    color: var(--black);
    font-family: Helvetica, sans-serif;

    --dark-blue: #1B2C42;
    --white: #fff;
    --black: black;
    --blue: #56CBF9;
    --green: #ACECA1;
    --yellow: #F5D491;
    --pink: #F17EA6;
 }

audio, 
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

img {
    width: 100%;
}

h1, 
h2, 
h3, 
h4, 
h5,
h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin: 0;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

div,
main, 
section,
footer,
header {
    min-height: 0.5rem;
    padding: 0.5rem;
}

/**core layout**/
.row {
    display: grid;
    row-gap: 1rem;
    margin: auto;
}

.col {
    position: relative;
}

/********************STYLING********************/
.footerContainer {
    background-color: var(--dark-blue);
    color: var(--white);
}

.row-span {
    grid-column-start: 1;
    grid-column-end: -1;
}


.grid {
    display: grid;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
    .row {
        margin: auto;
        max-width: 60rem;
        column-gap: 1.5rem;
        row-gap: 1.5rem;
    }

    .s-col-1 {
        grid-template-columns: 1fr;
    }

    .s-col-2 {
        grid-template-columns: 1fr 1fr;
    }

    .col-2 {
        grid-template-columns: 1fr 1fr;
    }


    p {
        font-size: 0.6em;
        font-style: italic;
    }

    h5 {
        font-size: 0.8em;
        padding-bottom: 1rem;
    }
}
/* Medium and up */
@media screen and (min-width: 40em) {
    .row {
        margin: auto;
        max-width: 40rem;
        column-gap: 1.5rem;
        row-gap: 1.5rem;
    }

    .m-col-2 {
        grid-template-columns: 1fr 1fr;
    }
    
    .m-col-2-1 {
        grid-template-columns: 0.2fr 1fr;
    }

    p {
        font-size: 0.2em;
        font-style: italic;
    }

}
/* Medium only */
@media screen and (min-width: 40em) and
(max-width: 63.9375em) {
    
}
/* Large and up */
@media screen and (min-width: 64em) {
    .row{
        margin: auto;
        max-width: 60rem;
        column-gap: 1.5rem;
        row-gap: 1.5rem;
    }

    .l-col-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    .l-col-2-1 {
        grid-template-columns: 0.15fr 1fr;
    }

    p {
        font-size: 0.7em;
        font-style: italic;
    }
}
/* Large only */
@media screen and (min-width: 64em) and
(max-width: 74.9375em) {
}

