:root {
    font-size: 16px;
    color: var(--black);
    font-family: Helvetica, sans-serif;

    --dark-blue: #1B2C42;
    --white: #fff;
    --black: black;
    --blue: #56CBF9;
    --green: #ACECA1;
    --yellow: #F5D491;
    --pink: #F17EA6;
 }
